.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
data/form-regression/
data/import/
data/golden/
phpunit.xml
ubuntu-xenial-16.04-cloudimg-console.log
/.buildpath
/.settings/
/.project
phploy.ini
phploy.log
.phploy
/language/
node_modules
.idea/
.env
tools/*.phar
