
.flag-icon-gb-sct {
 background-image:url(../flags/4x3/gb-sct.svg)
}
.flag-icon-gb-sct.flag-icon-squared {
 background-image:url(../flags/1x1/gb-sct.svg)
}
.commonmark-help {
 clear: left;
 display: block;
}
.panel-body {overflow:scroll;}
.search-bar {margin-bottom: 30px;}
.search-bar-center {margin-top: 15%;}
#association-photos .thumbnail img {height:180px;}