
return [
    'juser' => [
        'mail_transport' => [
            'options' => [
                'connectionConfig' => [
                    'password' => 'abc123',
                ],
            ],
        ],
    ],
    'ApiRequest' => [
        'jwtAuth' => [
            'cypherKey' => 'CHANGE_ME_TO_VERY_RANDOM_AND_LONG_DATA',
        ],
    ],
];