<?php
return [
    'juser' => [
    	'person_provider' => MyModule\Model\PersonTable::class,
        'mail_transport' => [
            'class'   => Zend\Mail\Transport\Smtp::class,
            'options' => [
                'host'             => 'smtp.gmail.com',
                'port'             => 587,
                'connectionClass'  => 'login',
                'connectionConfig' => [
                    'ssl'      => 'tls',
                    'username' => 'abc@gmail.com',
                    'password' => 'abc123',
                ],
            ],
        ],
        'message' => [
            // These can be either a string, or an array of email => name pairs
            'to'     => 'abc@gmail.com',
            'from'   => 'abc@gmail.com',
            // This should be an array with minimally an "address" element, and
            // can also contain a "name" element
            'sender' => [
                'address' => 'abc@gmail.com'
            ],
        ],
    ],
    'zfcuser' => [
        'zend_db_adapter' => Zend\Db\Adapter\Adapter::class,
        
        'enable_default_entities' => false,

        'enable_registration' => false,
        
        'use_registration_form_captcha' => true,
            
        'form_captcha_options' => [
                'class'   => 'figlet',
                'options' => [
                        'wordLen'    => 5,
                        'expiration' => 300,
                        'timeout'    => 300,
                ],
        ],
        'enable_display_name' => true,
            
        'enable_username' => true,
            
        'auth_identity_fields' => [ 'username', 'email' ],
            
        'login_redirect_route' => 'home',
        
        'logout_redirect_route' => 'home',
        
        'enable_user_state' => true,
        //the user state will stay at 0 until the user has been validated
        'default_user_state' => 0,
        
        'allowed_login_states' => [1],
    ],
    'slm_locale' => [
	    /**
	     * Beginning of SlmLocale configuration
	     * 
	     * Default locale
	     *
	     */
	    'default' => 'en-US',
	
	    /**
	     * Supported locales
	     *
	     */
	    'supported' => ['en_US', 'es_ES', 'de_DE', 'pt_BR'],
	
	    /**
	     * Strategies
	     *
	     */
	    'strategies' => ['query', 'cookie', 'acceptlanguage'],
	    
	    /**
	     * End of SlmLocale configuration
	     */
	],

    /**
     * GoalioRememberMe Configuration
     */
    'goaliorememberme' => [
    
        /**
         * RememberMe Model Entity Class
    *
    * Name of Entity class to use. Useful for using your own entity class
    * instead of the default one provided. Default is ZfcUser\Entity\User.
    */
        //'remember_me_entity_class' => 'GoalioRememberMe\Entity\RememberMe',
    
        /**
         * Remember me cookie expire time
    *
    * How long will the user be remembered for, in seconds?
    *
    * Default value: 2592000 seconds = 30 days
    * Accepted values: the number of seconds the user should be remembered
    */
        'cookie_expire' => 2592000,
    
        /**
         * Remember me cookie domain
    *
    * Default value: null (current domain]
        * Accepted values: a string containing the domain (example.com], subdomains (sub.example.com] or the all subdomains qualifier (.example.com]
            */
        //'cookie_domain' => null,
    
        /**
         * End of GoalioRememberMe configuration
        */
    ],
    'bjyauthorize' => [
    
        'guards' => [
            /* If this guard is specified here (i.e. it is enabled], it will block
             * access to all routes unless they are specified here.
            */
            'BjyAuthorize\Guard\Route' => [
                ['route' => 'zfcuser/login', 'roles' => ['guest']],
                ['route' => 'zfcuser/logout', 'roles' => ['user']],
                ['route' => 'change-password', 'roles' => ['user']],
//                 ['route' => 'change-email', 'roles' => ['user']],
                ['route' => 'register', 'roles' => ['guest']],
//                 ['route' => 'zfcuser/register', 'roles' => ['guest']],
                ['route' => 'juser', 'roles' => ['administrator']],
                ['route' => 'juser/user/edit', 'roles' => ['administrator']],
                ['route' => 'juser/user/delete', 'roles' => ['administrator']],
                ['route' => 'juser/user/change-password', 'roles' => ['administrator']],
                ['route' => 'juser/user/show', 'roles' => ['administrator']],
                ['route' => 'juser/create', 'roles' => ['administrator']],
                ['route' => 'juser/create-role', 'roles' => ['administrator']],
            ],
        ],
	],
];