<?php
return [
    'juser' => [
        'mail_transport' => [
            'class'   => 'Zend\Mail\Transport\Smtp',
            'options' => [
                'host'             => 'smtp.gmail.com',
                'port'             => 587,
                'connectionClass'  => 'login',
                'connectionConfig' => [
                    'ssl'      => 'tls',
                    'username' => 'abc@gmail.com',
                    'password' => 'abc123',
                ],
            ],
        ],
        'message' => [
            // These can be either a string, or an array of email => name pairs
            'to'     => 'abc@gmail.com',
            'from'   => 'abc@gmail.com',
            // This should be an array with minimally an "address" element, and
            // can also contain a "name" element
            'sender' => [
                'address' => 'abc@gmail.com'
            ],
        ],
    ],
    /**
     * Beginning of SlmLocale configuration
     * 
     * Default locale
     *
     */
    'default' => 'en-US',

    /**
     * Supported locales
     *
     */
    'supported' => ['en_US', 'es_ES', 'de_DE', 'pt_BR'],

    /**
     * Strategies
     *
     */
    'strategies' => ['query', 'cookie', 'acceptlanguage'],

    /**
     * End of SlmLocale configuration
     */

    /**
     * GoalioRememberMe Configuration
     */
    'goaliorememberme' => [
    
        /**
         * RememberMe Model Entity Class
    *
    * Name of Entity class to use. Useful for using your own entity class
    * instead of the default one provided. Default is ZfcUser\Entity\User.
    */
        //'remember_me_entity_class' => 'GoalioRememberMe\Entity\RememberMe',
    
        /**
         * Remember me cookie expire time
    *
    * How long will the user be remembered for, in seconds?
    *
    * Default value: 2592000 seconds = 30 days
    * Accepted values: the number of seconds the user should be remembered
    */
        'cookie_expire' => 2592000,
    
        /**
         * Remember me cookie domain
    *
    * Default value: null (current domain]
        * Accepted values: a string containing the domain (example.com], subdomains (sub.example.com] or the all subdomains qualifier (.example.com]
            */
        //'cookie_domain' => null,
    
        /**
         * End of GoalioRememberMe configuration
            */
    ],
            /**
             * ZfcUser Configuration
            *
            * If you have a ./config/autoload/ directory set up for your project, you can
            * drop this config file in it and change the values as you wish.
            */
];