<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

$dbParams = [
    'database'  => 'xxxxxxxxxx',
    'username'  => 'root',
    'password'  => 'xxxxxxxxxxxxxxxx',
    'hostname'  => 'localhost',
    'driver_options'   =>  [
        PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES UTF8'
    ]
];

$smtpOptions = [
    /**
     * The SMTP authentication identity.
     * If this is not set, the 'from' option of the message will be used.
     *
     * Default value is an empty string
     */
    'username' => 'webmaster@schoenstatt.link',
    
    /**
     * The SMTP authentication credential.
     *
     * Default value is an empty string
     */
    'password' => 'xxxxxxxxxxxxx',
    
    /**
     * This defines the encryption type to be used, 'ssl' or 'tls'.
     * Null should be used to disable SSL.
     *
     * Default value is null
     */
    'ssl'   => 'tls',
    'port'  => 587,
    'server'=> 'mail.your-server.de',
];

return [
    'db' => [
        'driver'         => 'Pdo',
        'username'       => $dbParams['username'],
        'password'       => $dbParams['password'],
        'dsn'            => 'mysql:dbname='.$dbParams['database'].';host='.$dbParams['hostname'],
        'driver_options' => [PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES UTF8;']
    ],
    'view_manager' => [
        'display_not_found_reason' => false,
        'display_exceptions'       => false,
    ],
    'sion_model' => [
        'max_items_to_cache' => 1,
        'api_keys' => ['xxxxxxxxxxxxxxxxxxxxxx'],
    ],
    'books' => [
        'files_api_key' => 'xxxxxxxxxxxxxx',
        'files_api_url' => 'https://script.google.com/macros/s/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/exec',
    ],
    'schoenstatt' => [
        'gdpr_ip_address_exceptions' => [
            
        ],
        'api_keys' => [
            'xxxxxxxxxxxxxxxxxxxxx',
        ],
        'patres_api_key' => 'xxxxxxxxxxxxxxxxxxxxxxxx',
        'patres_api_person_list_uri' => 'https://schoenstatt-fathers.link/api/persons',
        'patres_api_get_person_uri' =>  'https://schoenstatt-fathers.link/api/persons/%s',
    ],
    'service_manager' => [
        'factories' => [
            'Zend\Db\Adapter\Adapter' => 'Application\Service\DbAdapterServiceFactory',
        ],
    ],
    'recaptcha' => [
        'name' => 'recaptcha',
        'privKey' => 'xxxxxxxxxxxxxx',
        'pubKey' => 'xxxxxxxxxxxxxxx',
    ],
    'view_manager' => [
        'display_exceptions' => true,
    ],
    'acmailer_options' => [
        // Default mail service
        'default' => [
            
            'smtp_options' => [
                'connection_config' => $smtpOptions,
            ],
        ],
    ],
    'smtp_options' => $smtpOptions,
    'session_config' => [
    	'cookie_secure' => true,
    	'cookie_http_only' => true,
    ],
];
